@charset "utf-8";
/* reset */
html,body,div,img,a,h1,p,i,span,ul,li,section {
	margin: 0;
	padding: 0;
}
html,body {
	width: 100%;
	overflow-x: hidden;
}
body {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; -webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-webkit-touch-callout:none;cursor:default;-ms-content-zooming:none;-webkit-text-size-adjust:100%;
}
ul,li {
	list-style: none;
}
h1,h2,h3,h4,h5,h6,button,input,select,i{font-weight:normal; font-style:normal;-webkit-appearance:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;-webkit-tap-highlight-color:rgba(0,0,0,0);}   
a{color:#000;-webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration: none;outline:none;} 

/* common */
$mainColor: #F15959;
$downColor: #59B200;
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.mr {
	margin: 0 auto;
}
.tl {
	text-align: left;
}
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
.ovh {
	overflow: hidden;
}
.w100 {
	width: 100%;
}
.bg000 {
	background-color: #000;
}
.bgeee {
	background-color: #eee;
}
/* animation */
@keyframes line {
	0% {
		transform: translate3D(0,0,0);
	}
	100% {
		transform: translate3D(0,500px,0);
		opacity: .5;
	}
}

/* layout */
.show-bg {
	position: relative;
	background: url(../img/show-bg.png) no-repeat center;
	width: 280px;
	height: 465px;
	margin: 0 auto;
	background-size: 280px 465px;
	text-align: center;
	.no {
        position: absolute;
	    top: 20px;
	    left: 11px;
	    width: 50px;
	    color: #fff;
	    font-size: 30px;
	    text-align: center;
	    line-height: 24px;
	}
	.name {
		position: absolute;
	    left: 62px;
	    top: 24px;
	    width: 201px;
	    color: #fff;
	    font-size: 17px;
	    line-height: 17px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: normal;
	}
	.header {
		position: absolute;
	    top: 89px;
	    left: 53px;
	    width: 170px;
	    height: 200px;
	}
	.pro-group {
	    position: absolute;
	    bottom: 80px;
	    left: 43px;
		.pro-bg {
			display: inline-block;
			position: relative;
			width: 141px;
			height: 5px;
			margin-left: 10px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			vertical-align: middle;
		}
		.pro {
			position: absolute;
			top: 0;
			left: 0;
			width: 20%;
			height: 4px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
		}
	}
	.pro-item {
		height: 14px;
		padding: 3px 0;
	}
	&.up .pro-group {
		.pro {
			background-color: #F15B5C;
		}
		label {
			color: #FF5F5F;
			font-size: 13px;
		}
		.pro-bg {
			background-color: #301D1F;
		}
	}
	&.down .pro-group {
		.pro {
			background-color: #3BD800;
		}
		label {
			color: #3BD800;
			font-size: 13px;
		}
		.pro-bg {
			background-color: #1B2318;
		}
	} 
	.star-group {
	    position: absolute;
	    bottom: 20px;
	    left: 40px;
	}
	.star-group img {
	    width:  37px;
	    height: 36px;
	}	
}
.show-bg-bottom {
	width: 375px;
	height: 35px;
}
.i-button-group {
	margin-top: 12px;
	text-align: center;
	.btn {
		display: inline-block;
		width: 118px;
		height: 41px;
		font-size: 14px;
		line-height: 41px;
		color: #fff;
		background: url(../img/button-bg.png) no-repeat center;
		background-size: 100%;
		&:first-child {
			margin-right: 25px;
		}
	}
}
.line1 {
	position: absolute;
	top: 0;
	left: 10px;
	width: 5px;
	height: 155px;
	background: url(../img/line1.png) no-repeat center;
	background-size: 100%;
	animation: line 2s infinite linear;
}
.line2 {
	position: absolute;
	top: 0;
	right: 10px;
	width: 4px;
	height: 49px;
	background: url(../img/line2.png) no-repeat center;
	background-size: 100%;
	animation: line 1s infinite linear;
}
.line3 {
	position: absolute;
	top: 0;
	right: 20px;
	width: 5px;
	height: 155px;
	background: url(../img/line1.png) no-repeat center;
	background-size: 100%;
	animation: line 1.5s infinite linear;	
}
.line4 {
	position: absolute;
	top: 0;
	left: 5px;
	width: 4px;
	height: 49px;
	background: url(../img/line2.png) no-repeat center;
	background-size: 100%;
	animation: line 1s infinite linear;
}
.line5 {
	position: absolute;
	top: 0;
	left: 15px;
	width: 4px;
	height: 49px;
	background: url(../img/line2.png) no-repeat center;
	background-size: 100%;
	animation: line 1.4s infinite linear;
}
.line6 {
	position: absolute;
	top: 0;
	right: 6px;
	width: 5px;
	height: 155px;
	background: url(../img/line1.png) no-repeat center;
	background-size: 100%;
	animation: line 1.2s infinite linear;	
}

// 成绩
.r-h1 {
	margin: 30px auto 12px;
	text-align: center;
	font-size: 25px;
	color: #999999;
}
.r-h1-num {
	color: $mainColor;
	font-size: 25px;
}
.r-h2 {
	text-align: center;
}
.r-h2-num1,.r-h2-num2 {
	color: #fff;
	font-size: 14px;
}
.r-h2-num1 {
	padding-right: 13px;
	&.up {
		background: url(../img/ico-up.png) no-repeat right 2px;
		background-size: 9px 11px;
	}
}
.r-h2-num2 {
	margin-left: 15px;
}
.r-h3 {
	margin: 35px auto 10px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.r-h3-num {
	margin: 0 4px;
	color: $mainColor;
	font-size: 14px;
}
.r-title {
	margin-top: 60px;
	text-align: center;
	color: $mainColor;
	font-size: 25px;
}
.circle-wp {
	width: 120px;
	height: 165px;
	margin-bottom: 45px;
}
.circle-group {
	padding-bottom: 50px;
	margin: 35px 8% 0;
	overflow: hidden;
	.circle-wp {
		// height: 160px;
	}
	.circle {
		position: relative;
		width: 120px;
		height: 120px;
		border-radius: 50%;
	}
	.pie_left, .pie_right {
		width:120px; 
		height:120px;
		position: absolute;
		top: 0;left: 0;
	}
	.left, .right {
		width:120px; 
		height:120px;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.pie_right, .right {
		clip:rect(0,auto,auto,60px);
	}
	.pie_left, .left {
		clip:rect(0,60px,auto,0);
	}
	.mask {
		width: 114px;
		height: 114px;
		border-radius: 50%;
		left: 3px;
		top: 3px;
		background-color: #0F0F10;
		background-position: center 35%;
		background-repeat: no-repeat;
		position: absolute;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		color: transparent;
		span {
			display: none;
		}
		i {
		    position: absolute;
		    top: 75%;
		    left: 50%;
		    -webkit-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
			color: #999;
			font-size: 11px;
		}
	}
	.des {
		position: absolute;
		bottom: -43px;
		width: 100%;
		text-align: center;
		.p1 {
			color: #fff;
			font-size: 11px;
		}
		.p2 {
			margin-top: 6px;
			margin-bottom: 3px;
			font-size: 15px;
		}
	}
	$circle_1_color: rgba(252,252,38,1);
	$circle_2_color: rgba(252,121,77,1);
	$circle_3_color: rgba(252,76,76,1);

	.circle_1 {
		background-color: rgba(252,252,38,.1);
		.left, .right {
			background-color: $circle_1_color;
		}
		.p2 {
			color: $circle_1_color;
		}
		.mask {
			background-image: url(../img/circle-1.png);
		}
	}
	.circle_2 {
		background-color: rgba(252,121,77,.1);
		.left, .right {
			background-color: $circle_2_color;
		}
		.p2 {
			color: $circle_2_color;
		}
		.mask {
			background-image: url(../img/circle-2.png);
		}
	}
	.circle_3 {
		background-color: rgba(252,76,76,.1);
		.left, .right {
			background-color: $circle_3_color;
		}
		.p2 {
			color: $circle_3_color;
		}
		.mask {
			background-image: url(../img/circle-3.png);
		}
	}
}
.ico-home {
	position: fixed;
	top: 15px;
	left: 15px;
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/ico-home.png) no-repeat center;
	background-size: 100%;
	z-index: 99;
}

// 商家
.b-title {
	margin-top: 30px;
	text-align: center;
	color: $mainColor;
	font-size: 25px;
}
.b-title-d {
	position: relative;
	display: inline-block;
}
.dropdown {
	margin-right: 10px;
	padding-right: 16px;
	color: #CCCCCC;
	font-size: 25px;
	border-bottom: 1px solid #ccc;
    background: url(../img/ico-dropdown.png) no-repeat center right;
    background-size: 10px 8px;
}
.j-dropdown {
	display: none;
	position: absolute;
    top: 48px;
    left: 55px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #444444;
    border: 1px solid #666666;
    width: 100px;
    text-align: left;
    z-index: 310;
    li {
	    margin: 0 12px;
		cursor: pointer;
		height: 40px;
		line-height: 40px;
		color: #CCCCCC;
		font-size: 14px;
		text-align: center;
		border-bottom: 2px solid #666666;
		&:last-child {
			border-bottom: none;
		}
	}
}
.table-list {
	margin: 25px 0;
}
.table-item {
	display: -webkit-flex;
	display: flex;
	margin: 0 8%;
	padding: 8px 0;
	line-height: 16px;
	.col1 {
		width: 40px;
		color: #fff;
		font-size: 14px;
	}
	.col2 {
		-webkit-flex: 1;
		flex: 1;
		color: #ccc;
		font-size: 14px;
	}
	.col3 {
		width: 80px;
		font-size: 14px;
		color: $downColor;
		text-align: right;
		&.up {
			color: $mainColor;
		}
	}
}

// 战队动态
.s-title {
	margin-top: 30px;
    text-align: center;
	color: #fff;
    font-size: 25px;
}
.s-panel {
	margin: 35px 15px 0;
	padding: 0 12px;
	border: 1px solid $downColor;
	.num1 {
		margin-top: 8px;
		font-size: 40px;
		color: $downColor;
	}
	.ovh {
		margin: 10px 0 15px;
	}
	.num2,.num3 {
		font-size: 17px;
		color: $downColor;
	}
	.table {
		display: -webkit-flex;
		display: flex;
	    justify-content: space-between;
	    margin-bottom: 8px;
		.col {
			-webkit-flex: 1;
			flex: 1;
			p:first-child {
				margin-bottom: 6px;
				color: #666;
				font-size: 13px;
			}
			p:last-child {
				color: #fff;
				font-size: 13px;
			}
		}
	}
}
.wp-s-table {
	margin-top: 25px;
}
.s-table {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	margin: 0 15px 15px;
	.col1 {
		-webkit-flex: 1;
		flex: 1;
		color: #ccc;
		font-size: 13px;
	}
	.col2 {
		width: 100px;
		color: $downColor;
		text-align: center;
	}	
	.col3 {
		-webkit-flex: 1;
		flex: 1;	
		padding: 6px;
		background-color: $downColor;
		color: #fff;
		font-size: 11px;
		p:first-child {
			margin-bottom: 2px;
		}
	}
	&.up {
		.col2 {
			color: $mainColor;
		}
		.col3 {
			background-color: $mainColor;
		}
	}
}

.m-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #FAFAFA;

}
.m-footer-nav{
	display: -webkit-flex;
	display: flex;
	.item {
		position: relative;
		-webkit-flex: 1;
		flex: 1;
		border-left: 1px solid #DDDDDD;
		text-align: center;
		a {
			color: #545454;
			font-size: 15px;
		}
		&:first-child {
			width: 45px;
		    -webkit-flex: initial;
		    flex: initial;
			border-left: none;
		}
	}
	div {
		display: none;
		position: absolute;
		bottom: 65px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 96%;
		background-color: #F4F4F6;
		border: 1px solid #ddd;
		border-radius: 10px;
		ul {
			position: relative;
			width: 100%;
			padding: 5px 0;
			&:before {
				content: "";
				display: block;
				position: absolute;
				bottom: -14px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				border: 7px solid transparent;
				border-top: 7px solid #ddd;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				bottom: -13px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				border: 8px solid transparent;
				border-top: 8px solid #F6F6F7;
			}
			li {
				width: 80%;
				margin: 0 auto;
				padding: 12px 0;
				line-height: 20px;
				color: #535353;
				border-bottom: 1px solid #ccc;
				font-size: 15px;
				text-align: center;
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}
.m-content {
	margin-bottom: 70px;
}
.m-panel {
	margin: 20px 17px;
	background-color: #fff;
	border: 1px solid #DDDDDD;
	border-radius: 8px;
}
.m-panel-main-article {
	position: relative;
	height: 180px;
	margin-top: 10px;
	padding: 0 10px 10px 10px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	a {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		background-image: url(../img/banner1.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
.m-panel-tips {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	p {
		color: #fff;
		font-size: 17px;	
		padding: 12px 7px;
	}
}
.m-panel-article-list {
	li {
		padding: 5px 10px;
		border-bottom: 1px solid #eee;
	}
	a {
		display: -webkit-flex;
		display: flex;
		align-items: center;
		color: #000;
		font-size: 15px;
		p {
			-webkit-flex: 1;
			flex: 1;
			line-height: 20px;
		}
		img {
			width: 50px;
			height: 50px;
			margin-left: 30px;
		}
	}
}
.m-panel-btn-tatal {
	display: block;
	padding: 10px 0;
	color: #59B200;
	font-size: 14px;
	text-align: center;
}
.l-list {
	background-color: #fff;
}
.l-list-banner {
	position: fixed;
}
.l-artcle-list {
	border-bottom: 1px solid #ddd;
	li {
		padding: 15px 15px 13px 15px;
		border-bottom: 1px solid #eee;
		&:last-child {
			border-bottom: none;
		}
	}
	a {
		display: -webkit-flex;
		display: flex;
		.l-artcle-list-info {
			-webkit-flex: 1;
			flex: 1;
		}
		p {
			display: -webkit-box;
			height: 40px;
			line-height: 20px;
			color: #000;
			font-size: 15px;
			overflow : hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		img {
			width: 50px;
			height: 50px;
			margin-left: 30px;
		}
	}
}
.l-artcle-list-time {
	color: #999999;
	font-size: 11px;
}




